blinker
certifi
cffi
charset-normalizer
click
dominate
Flask
Flask-Bootstrap
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
MouseInfo
numpy
PyAudio
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pyperclip
python-dotenv
pytweening
requests
rubicon-objc
SoundCard
SpeechRecognition
typing_extensions
urllib3
visitor
Werkzeug
WTForms